celery
codeclimate-test-reporter
coverage>=4.0,<4.4
git+git://github.com/pacifica/pacifica-archiveinterface.git#egg=PacificaArchiveInterface
git+git://github.com/pacifica/pacifica-ingest.git#egg=PacificaIngest
git+git://github.com/pacifica/pacifica-metadata.git#egg=PacificaMetadata
git+git://github.com/pacifica/pacifica-policy.git#egg=PacificaPolicy
git+git://github.com/pacifica/pacifica-python-uploader.git#egg=PacificaUploader
git+git://github.com/pacifica/pacifica-uniqueid.git#egg=PacificaUniqueID
pre-commit
pylint
pytest
radon
redis
requests
